@use "./_tokens.scss" as *;

html {
  font-size: 16px;
}

body {
  background: var(--page-bg);
  color: var(--text);
  font-family: "Zalando Sans", sans-serif;
  line-height: 1.5;
  font-weight: $font-normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p + p {
  margin-top: var(--space-2);
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: var(--space-2) var(--space-8);
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center ;
}

.text-sm {
  font-size: 0.8rem;
}